<h1> I Formation </h1>
<% @iformation.each do |p| %>
  <%= p %><br>
<% end %>

<h1> Single Back - 3 Wide </h1>
<% @single_back_three_wide.each do |p| %>
  <%= p %><br>
<% end %>

<h1> Empty Back - 5 Wide </h1>
<% @empty_back_five_wide.each do |p| %>
  <%= p %><br>
<% end %>
